<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <!--script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script-->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
  <link rel="stylesheet" href="index.css">
</head>
<body>
  <div class="container" ng-app="" >
    <div class="header">
      <img class="logo" src="images/mad-lib-happy-face.png">
      <div class="title">
        <img height="60px" src="images/ng-mad-libs-logo.png">
        <div class="title-text">Automate This!</div>
      </div>
    </div>
    <div class="words" ng-init="chunks = [
      {'pretext': 'Once upon a time there was a little ', 'model': 'Noun 1'},
      {'pretext': ' named ', 'model': 'Proper Noun'},
      {'pretext': '.  She was very ', 'model': 'Adjective 1'},
      {'pretext': ' but also somewhat ', 'model': 'Adjective 2'},
      {'pretext': '.  One day she went ', 'model': 'Verb 1'},
      {'pretext': 'ing ', 'model': 'Adverb 1'},
      {'pretext': ' through the ', 'model': 'Noun 2'},
      {'pretext': ' to visit her ', 'model': 'Adjective 2'},
      {'pretext': ' ', 'model': 'Person'},
      {'pretext': '.  She had only gone ', 'model': 'Number'},
      {'pretext': ' miles, when she saw a ', 'model': 'Noun 3'},
      {'pretext': ' ', 'model': 'Verb'},
      {'pretext': 'ing towards her ', 'model': 'Adverb 2'}
      ]">
      <span ng-repeat="chunk in chunks">
        <input ng-model="chunk.model" ng-init="chunk.title=chunk.model; chunk.model = ''" placeholder="{{chunk.title}}">
      </span>
    </div>
    <div class="madlibs">
      <span ng-repeat="chunk in chunks">
        <span ng-switch="chunk.model">
          <span ng-switch-when=""><span>{{</span>{{chunk.title}}<span>}}</span></span>
          <span ng-switch-default="">{{chunk.model}}</span>
        </span>
      </span>
    </div>
  </div>
</body>
</html>
