* {
  margin: 0;
  padding: 0;
  border: 0;

  font: inherit;
  background: white;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.container {
  border: solid;
  border-width: 2px;
  width: 80%;
  margin: 20px auto;
  background: green;
}

.header {
  border: solid;
  border-width: 2px;
  background: blue;
  border: none;
}

.logo {
  border: solid;
  border-width: 2px 4px 2px 2px;
  width: 150px;
  height: 150px;
  float: left;
  z-index: 1;
}

.title {
  border: solid;
  border-width: 2px;
  width: 100%;
  height: 150px;
  padding-left: 150px;
  text-align: center;
}

.title-text {
  font-size: 50px;
}

.words {
  border: solid;
  border-width: 2px;
}

.madlibs {
  border: solid;
  border-width: 2px;
}

.placeholder {
  background: #eee;
  display: inline-block;
  min-width: 3em;
  min-height: .6em;
}
