<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <!--script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script-->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
  <script src="index.js"></script>
  <link rel="stylesheet" href="index.css">
</head>
<body ng-app="madlib"> 
  <div class="container" ng-controller="MadCtrl"> 
    <div class="header">
      <img class="logo" src="images/mad-lib-happy-face.png">
      <div class="title">
        <img height="60px" src="images/ng-mad-libs-logo.png">
        <div class="title-text">{{ title }}</div>
      </div>
    </div>
    <div class="words">
      <span ng-repeat="chunk in chunks | filter: {type: 'model'}">
        <input 
          ng-model="chunk.model" 
          ng-init="chunk.title=chunk.model; chunk.model = ''" 
          placeholder="{{chunk.title}}">
      </span>
    </div>
    <div class="madlibs">
      <span ng-repeat="chunk in chunks">{{ display(chunk) }}</span>
    </div>
  </div>
</body>
</html>
